@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-family: 'Satoshi', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-object {
  animation: rotate360 4s linear infinite;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  max-width: 1000px; /* Set max width for better layout on large screens */
  margin: 0 auto; /* Center the carousel */
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 6); /* Adjust the width based on the number of logos */
}

.logo-slide {
  min-width: 33.33%; /* Show 3 logos on larger screens */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Add some padding around each logo */
}

.logo-slide img {
  max-width: 150px; /* Control logo size */
  height: auto;
}

@media (max-width: 1024px) {
  .logo-slide {
    min-width: 50%; /* Show 2 logos on medium screens */
  }
}

@media (max-width: 768px) {
  .logo-slide {
    min-width: 50%; /* Show 2 logos on smaller screens */
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .logo-slide {
    min-width: 100%; /* Show 1 logo on the smallest screens */
  }

  .logo-slide img {
    max-width: 100px; /* Make logos smaller on mobile screens */
  }
}

/* Add transition effects for smooth opening */
.menu-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 50;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.menu-slide.open {
  transform: translateX(0);
}

.menu-icon {
  transition: transform 0.3s ease-in-out;
}








@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos {
  display: flex;
  overflow-x: hidden;
  animation: scroll 20s linear infinite;
}

.logos img {
  flex-shrink: 0;
}
/* HTML: */
.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffffff 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#016422);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}